/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*Header*/
header {
  margin-bottom: 20px;
}
header nav {
  background-color: #F6EAD3;
}
/*Footer*/
footer{
  margin-top: 20px;
}
footer div{
  background-color: #F6EAD3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;

}
footer div:nth-child(1) p{
  color: #8B6B2D;
  font-size: 30px;
}
footer div:nth-child(2) ul li{
  list-style-type: none;

}
footer div:nth-child(3) h3{
  color: #8B6B2D;
}
/*BookList*/
.filterHeader{
  color: #624a1a;
}

.filterBtn{
  width: 100px;
  background-color: #d19216;
}

.addToCartBtn{
  border-style: solid;
  border-width: 2px;
  border-color: #624a1a;
}
.addToCartBtn:hover{
  border-style: solid;
  border-width: 2px;
  border-color: #624a1a;
  background-color: #F6EAD3;
}

.card.booklist {
  border-style: solid;
  border-width: 2px;
  border-color: #624a1a;
}
.card.booklist .card-text{
  color: #624a1a;
}
.card.booklist .card-footer {
  display: flex;
  justify-content: end;
  background-color: antiquewhite;
}

.card.booklist .card-footer .editBtn {
  border-style: solid;
  border-width: 2px;
  border-color: #8B6B2D;
  background: white;

}
.card.booklist .card-footer .deleteBtn{
  border-style: solid;
  border-width: 2px;
  border-color: #ec5b5b;
  background: white;
}
/*Login, Register*/
#login, #register  {
  width: 500px;
  padding: 20px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #8B6B2D;
}
#login h2, #register h2{
  color: #8B6B2D;
  text-align: center;
}
#login form div, #register form div{
  padding-bottom: 10px;
}
#login form div label, #register form label{
  display: inline-block;
  padding-bottom: 5px;
}

#login .button, #register .button{
  display: block;
  width: 100px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color:white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #8B6B2D;
  background-color: #8B6B2D;
}
/*BookEdit, BookAdd*/
#bookAdd, #bookEdit{
  width: 800px;
  padding: 20px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #8B6B2D;
}

#bookAdd h2, #bookEdit h2{
  color: #8B6B2D;
  text-align: center;
}
#bookAdd form div, #bookEdit form div{
  padding-bottom: 10px;
}
#bookAdd form div label, #bookEdit #bookAdd{
  display: inline-block;
  padding-bottom: 5px;
}

#bookAdd button, #bookEdit button{
  width: 100px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color:white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #8B6B2D;
  background-color: #8B6B2D;

}